* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #555;
}

label{
    font-weight: 550;
    color: #656464;
    margin-bottom: 3px;
    text-transform: uppercase;
}

/* .btn-primary {
    background-color: #00bfff;
    border-color: #00bfff;
}

.btn-primary:hover {
    background-color: #009acd;
    border-color: #009acd;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-success, .bg-success {
    background-color: #50e69e;
    border-color: #50e69e;
}

.bg-success {
    background-color: #50e69e !important;
        border-color: #50e69e !important;
}

.bg-warning {
    background-color: #fff307 !important;
    border-color: #fff307 !important;
}

.bg-secondary {
    background-color: #8e959b !important;
    border-color: #8e959b !important;
}

.bg-info {
    background-color: #11e6f1 !important;
    border-color: #11e6f1 !important;
}

.bg-dark {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.bg-danger{
    background-color: #ed2d5d !important;
    border-color: #ed2d5d !important;
}

.btn-success:hover{
    background-color: #3cb371;
    border-color: #3cb371;
} */

